* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

:root {
    --primary-clr: #058f34;
    --secondary-clr: #ef0d0d;
    --accent-clr: #252525;
    --white-clr: #fff;
    --black-clr: #000;
}

/* -------------------------
  Common Styles
----------------------------*/
body {
    font-weight: 300;
    font-size: 1.1rem;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.page-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.page-container {
    width: 100%;
    max-width: 75rem;
    padding: 2rem 1.5rem;
}

.page-title-row .title {
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 2rem;
    color: var(--accent-clr);
    letter-spacing: 0.3px;
}
.page-title-row .subtitle {
    text-align: center;
    font-weight: 300;
    font-size: 0.8rem;
    color: var(--accent-clr);
    width: 100%;
    max-width: 31.25rem;
    margin: 0 auto;
    margin-top: 0.5rem;
    letter-spacing: 0.2px;
}
/* -------------------------
  Navbar Styles
----------------------------*/
.nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.08);
}

.nav-wrapper .nav-container {
    width: 100%;
    max-width: 75rem;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container .nav-left-col .logo {
    font-weight: 600;
    font-style: italic;
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    cursor: pointer;
    color: var(--primary-clr);
    display: inline-block;
}

.nav-container .nav-right-col .main-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-right-col .main-menu .menu-item .menu-link {
    text-transform: capitalize;
    color: var(--accent-clr);
    font-size: 1rem;
    padding: 0.3rem 0.75rem;
    cursor: pointer;
    transition: all 0.3s linear;
    letter-spacing: 0.1px;
}
.nav-right-col .main-menu .menu-item .menu-link:hover {
    opacity: 0.8;
}

.nav-right-col .main-menu .menu-item .menu-link.active {
    color: var(--primary-clr);
}
