* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

:root {
    --primary-clr: #058f34;
    --secondary-clr: #ef0d0d;
    --bg-clr: #050505;
    --white-clr: #fff;
    --black-clr: #000;
    --input-bg-clr: #f2f2f2;
    --input-bg-clr-2: #cccccc;
    --border-clr: #141414;
}

/* -------------------------
  Common Styles
----------------------------*/
body {
    font-weight: 400;
    font-size: 1.15rem;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
